services:

  broker:
    image: confluentinc/cp-kafka:7.9.0
    container_name: '${COMPOSE_PROJECT_NAME:-gha}-broker'
    ports:
      - '${PORT_BROKER:-29092}:29092'
    volumes:
      - broker-data:/var/lib/kafka/data:z
    environment:
      CLUSTER_ID: '${CLUSTER_ID:-YzUyZWRlYzBhNDkwNDNmNG}'
      KAFKA_NODE_ID: '1'
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@broker:9093'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LISTENERS: 'INTERNAL://broker:9092,EXTERNAL://broker:29092,CONTROLLER://broker:9093'
      KAFKA_ADVERTISED_LISTENERS: 'INTERNAL://broker:9092,EXTERNAL://localhost:${PORT_BROKER:-29092}'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'INTERNAL'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: '1' # this and next 3 options set to 1 as we have only one broker
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: '1'
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: '1'
      KAFKA_CONFLUENT_BALANCER_TOPIC_REPLICATION_FACTOR: '1'
      KAFKA_LOG_RETENTION_CHECK_INTERVAL_MS: '60000' # check whether to delete log segments ever minute (default 5 minutes)
      KAFKA_LOG4J_ROOT_LOGLEVEL: 'WARN' # optional, with next option reduces verboseness
      KAFKA_LOG4J_LOGGERS: "\
        kafka=WARN,\
        kafka.controller=WARN,\
        kafka.log.LogCleaner=WARN,\
        state.change.logger=WARN,\
        kafka.producer.async.DefaultEventHandler=WARN"

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: '${COMPOSE_PROJECT_NAME:-gha}-kafka-ui'
    ports:
      - '${PORT_KAFKA_UI:-28080}:8080'
    depends_on:
      - broker
    environment:
      KAFKA_CLUSTERS_0_NAME: 'github_analyzer' # name shown in UI (Kafka UI can display multiple clusters)
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'broker:9092'
      LOGGING_LEVEL_ROOT: 'WARN' # optional, along with next option reduces verbosity
      LOGGING_LEVEL_COM_PROVECTUS: 'WARN'

  frontend:
    build: ghdummy
    image: '${COMPOSE_PROJECT_NAME:-gha}-ghdummy:latest'
    container_name: '${COMPOSE_PROJECT_NAME:-gha}-frontend'
    ports:
      - '${PORT_GHDUMMY:-8889}:8888'
    profiles:
      - ghdummy

volumes:
  broker-data:
