@import "tailwindcss";

@import "@fontsource-variable/noto-sans";
@import "@fontsource-variable/noto-sans/wght-italic.css";
@import "@fontsource-variable/noto-sans-mono";

@custom-variant dark (&:where(.dark, .dark *));

* {
    transition-property: color, background, border, transform, opacity, fill, stroke;
    transition-duration: 200ms;
}

@theme {
    --font-sans: "Noto Sans Variable", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Noto Sans Mono Variable", ui-monospace, monospace;

    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    --color-base-100: oklch(95% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(90% 0 0);
    --color-content: oklch(20% 0 0);

    --color-primary: oklch(45% 0.2 274.713);

    --color-border: oklch(70% 0 0);
}

.dark {
    --color-base-100: oklch(8% 0 0);
    --color-base-200: oklch(18% 0 0);
    --color-base-300: oklch(21% 0 0);
    --color-content: oklch(84.955% 0 0);

    --color-primary: oklch(78% 0.1 274.713);

    --color-border: oklch(45% 0 0);
}
