@import "tailwindcss";

@import "@fontsource-variable/noto-sans";
@import "@fontsource-variable/noto-sans/wght-italic.css";
@import "@fontsource-variable/noto-sans-mono";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: "Noto Sans Variable", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Noto Sans Mono Variable", ui-monospace, monospace;
}
