@import "tailwindcss";

@import "@fontsource-variable/noto-sans";
@import "@fontsource-variable/noto-sans/wght-italic.css";
@import "@fontsource-variable/noto-sans-mono";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    view-transition-name: none;
}

* {
    transition-property: color, background, border, transform, opacity, fill,
        stroke;
    transition-duration: 200ms;
    outline: none;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition-property: none;
        transition-duration: 0;
        view-transition-name: none !important;
    }
}

::view-transition {
    pointer-events: none;
}

::view-transition-group(*) {
    animation-duration: 400ms;
}

::view-transition-group(name) {
    z-index: 50;
}

::view-transition-old(*),
::view-transition-new(*) {
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 8px;
    border: 2px solid var(--color-base-300);
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

@theme {
    --font-sans: "Noto Sans Variable", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "Noto Sans Mono Variable", ui-monospace, monospace;

    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;

    --color-base-100: oklch(95% 0 0);
    --color-base-200: oklch(93% 0 0);
    --color-base-300: oklch(90% 0 0);
    --color-content: oklch(15% 0 0);

    --color-primary: oklch(45% 0.2 274.713);

    --color-border: oklch(70% 0 0);
}

.dark {
    --color-base-100: oklch(8% 0 0);
    --color-base-200: oklch(18% 0 0);
    --color-base-300: oklch(21% 0 0);
    --color-content: oklch(85% 0 0);

    --color-primary: oklch(78% 0.1 274.713);

    --color-border: oklch(45% 0 0);
}

@keyframes loading-keys {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: -200%;
    }
}

.loading {
    position: relative;
}

.loading::after {
    --outside: rgb(from var(--color-content) r g b / 3%);
    --inside: rgb(from var(--color-content) r g b / 0%);
    background: linear-gradient(
        90deg,
        var(--outside) 30%,
        var(--inside) 50%,
        var(--outside) 70%
    );
    background-size: 200% 100%;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: loading-keys 1s ease-in-out infinite;
    border-radius: inherit;
    pointer-events: none;
}

.dark .loading::after {
    --outside: rgb(from var(--color-content) r g b / 2%);
    --inside: rgb(from var(--color-content) r g b / 10%);
}

@media (prefers-reduced-motion: reduce) {
    .loading::after {
        animation: none;
    }
}
