<configuration>
	<property name="zookeeper.console.threshold" value="WARN" />
	<property name="zookeeper.log.dir" value="." />
	<property name="zookeeper.log.file" value="zookeeper.log" />
	<property name="zookeeper.log.threshold" value="INFO" />
	<property name="zookeeper.log.maxfilesize" value="256MB" />
	<property name="zookeeper.log.maxbackupindex" value="20" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%highlight(%d{YYYY-dd-MM HH:mm:ss.SSS} \(%level\)) %msg [%thread %logger{15}]%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		<level>${zookeeper.console.threshold}</level>
		</filter>
	</appender>

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
